# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/srv
# the port at which the clients will connect
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60

# When set to false, a single server can be started 
# in replicated mode, a lone participant can run with 
# observers, and a cluster can reconfigure down to 
# one node, and up from one node.
standaloneEnabled=false

# The dynamic configuration file
# http://zookeeper.apache.org/doc/r3.5.1-alpha/zookeeperReconfig.html
dynamicConfigFile=/opt/zookeeper/conf/zoo.cfg.dynamic

quorumListenOnAllIPs=true

#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
